* {
    box-sizing: border-box;
  }

body {
    padding: 0;
    margin: 0;
}

/*navbar css*/
@media (min-width:992px) {
.nav-link:hover {
    opacity: 1;
  }

  .nav-link::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #1891c9;
  }

  .nav-link-ltr::before {
    width: 0%;
    top: 25px;
  }

  .nav-link-ltr:hover::before {
    width: 100%;
  }

  .nav-link {
    padding: 0px !important;
    margin: 0px 15px;
  }
}

.nav-link {
  position: relative;
  color: black !important;
  font-weight: 600;
}


.navbar {
  padding: 1rem 1rem;
  background-color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #1891c9 !important
}

.navbar-light .navbar-nav a.nav-link.active {
  color: #1891c9 !important
}

.navbar-nav{
    justify-content: flex-end;
}

.navbar{
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .3);
}
/*end navbar css*/


.filler{
    padding: 80px 140px;
}

/* index page*/
.parallax-img{
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*portfolio css*/

.container.main-section{
  margin-top: 100px;
}

/* Filters */
#portfolio > .filters {
	text-align: right;
	padding: 0 20px;
}

.filters__title {
	font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.filters__title,
.filters__list {
	display: inline-block;
	vertical-align: baseline;
}

.filters__label,
.filters__label:not(:first-child)::before {
	color: #dcd5b2;
}

.filters__label {
	display: inline-block;
	position: relative;
	margin-left: .8em;
	cursor: pointer;
}

.filters__label.is-active {
	color: inherit;
}

.filters__label:not(:first-child)::before {
	content: "/";
	margin-right: .8em;
}

/* Projects */

.portfolio__project-wrapper {
	padding: 0 10px;
}

.portfolio__project {
	position: relative;
	height: auto;
	padding: 0;
	background-color: #1891c9;
	background-clip: padding-box;
	border: 10px solid transparent;
	overflow: hidden;
}
.portfolio__project__preview {
	position: relative;
	top: 0;
	height: auto;
}

.portfolio__project__preview img {
	width: 100%;
  height: auto;
  object-fit: cover
}

.portfolio__project__description {
	position: absolute;
	top: 100%;
	width: 100%;
	padding: 1.8em 1.3em;
	text-align: center;
	background: #fff;
}

.portfolio__project__name {
	font-family: 'Raleway', sans-serif;
	font-size: 1.1em;
	margin: 0;
	margin-bottom: .2em;
}

.portfolio__project__category {
	font-size: .9em;
	color: #dcd5b2;
	margin-bottom: .6em;
}

.portfolio__project__preview,
.portfolio__project__description {
	transition: all 600ms ease;
}

.portfolio__project:hover .portfolio__project__description {
	transform: translateY(-100%);
}
.portfolio__project:hover .portfolio__project__preview {
	transform: translateY(-2.5em);
}

/*modal css*/

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 80px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  overflow: auto;
}

/* Modal Content */
.modal-content {
  max-height: 80%;
  overflow: auto;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
      top: -300px;
      opacity: 0
  }

  to {
      top: 0;
      opacity: 1
  }
}

@keyframes animatetop {
  from {
      top: -300px;
      opacity: 0
  }

  to {
      top: 0;
      opacity: 1
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #1891c9;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

#bicycle{
  width: 100%;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #1891c9;
  color: white;
}

