* {
    box-sizing: border-box;
  }
  
html {
  scroll-behavior: smooth;
}


body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/*header fonts*/
nav, .parallax-header, .about-header, h3, .modal-title, .modal-subtitle, .bottom-nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/*media query navbar css*/
@media (min-width:992px) {
.nav-link:hover {
    opacity: 1;
  }

  .nav-link::before {
    transition: 300ms;
    height: 1px;
    content: "";
    position: absolute;
    background-color: #1891c9;
  }

  .nav-link-ltr::before {
    width: 0%;
    top: 25px;
  }

  .nav-link-ltr:hover::before {
    width: 100%;
  }

  .nav-link {
    padding: 0px !important;
    margin: 0px 15px;
  }  

  .navbar-collapse.collapse{
    display: flex;
    justify-content: flex-end;
  }

  .portfolio-intro{
    max-width: 95%;
  }
}

#logo{
  width: 50px;
}
.nav-link {
  position: relative;
  color: white !important;
}


.navbar {
  padding: 2px 1rem;
  background-color: black;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #1891c9 !important
}

.navbar-dark .navbar-nav a.nav-link.active {
  color: #1891c9 !important
}

.navbar-nav{
  display: flex;
  justify-content: flex-end!;
}

.navbar{
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .3);
}

button.navbar-toggler{
  border-color: #dbdbdb!important;
}
/*end navbar css*/


.filler{
    padding: 80px 140px;
}

/* home page*/
.parallax1 {
  background-image: url("../assets/pawel-czerwinski-prMn9KINLtI-unsplash\ \(1\).jpg");
  padding-top: 150px;
  padding-bottom: 150px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
}

/* attempt at parallax video
.parallax-video{ 
  height: 70%;
  padding-bottom: 50px;
  padding-top: 50px; 
}
.parallax-video video{ 
  min-width: 100%;
  position: fixed;
  top:0;
  z-index: -999;
} */


.parallax-name{
  text-align: center;
  font-size: 50px;
  color: white;
  padding-top: 92px;
  
}

.parallax-info{
  text-align: center;
  font-size: 35px;
  color: white;
}

.parallax-text{
  margin-bottom: 40px;  
}

.contact{
  width: 90%;
  margin: 0 auto;
}

/* about on home page */
.about-home{
  /*background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,16,60,1) 100%);*/
  background-color: #eeeeee;
  color: black;
  padding: 60px 0px;
}

.about-header, .about-text{
  width: 90%;
  margin: auto;
}

.about-pic{
  width: 40%;
  margin: auto;
  display: block;
  border-radius: 50%;
  padding: 10px;
}

.about-button{
  color: white;
  background-color: #1891c9;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
  transition: 0.3s;
}

.about-button:hover{
  color: white;
  background-color: black;
  transition: 0.3s;
}

/*recent work on home page*/
.portfolio-subheader1{
  display: flex;
  justify-content: space-between;
  padding: 30px 0px 10px 0px;
}

.full-portfolio-link{
  padding: 0px!important;
  margin: 0px;
  position: relative;
  color: black !important;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.full-portfolio-link::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: white;
  width: 0%;
  top: 25px;
}

.full-portfolio-link:hover::before {
  width: 100%;
}

.full-portfolio-link:hover {
color: #1891c9 !important
}

.full-portfolio-link.active {
color: #1891c9 !important
}

#modal-img, #modal-img2{
  width: 100%;
  margin-bottom: 16px;
  box-shadow: 2px 4px 10px 0px #969696;
}

video{
  width: 45%;
  margin: 0 auto;
  display: block;
  padding-bottom: 20px;
}

.modal-title{
  text-align: center;
}

.modal-subtitle{
  text-align: center;
  color: grey;
  font-size: 20px;
  font-style: italic;
}

.modal-text{
  width: 100%;
  margin-bottom: 1rem;
}

.caption1, .caption2{
  text-align: center;
  color: grey;
}

.modal-link{
  display: flex;
  justify-content: center;
}

.modal-link a{
  color: white;
  background-color: #1891c9;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  transition: 0.3s;
  text-decoration: none;
  text-align: center;
}

.modal-link a:hover{
  color: white;
  background-color: #002d5b;
  transition: 0.3s;
}

/*portfolio css*/
.portfolio-intro{
  padding-top: 100px;
  margin: auto;
  text-align: center;
  max-width: 95%;

}
.portfolio-intro h2{
  text-align: center;
}

.container.main-section{
  width: 90%;
  padding: 0px;
}

/* Projects */
.portfolio__project {
	position: relative;
	height: auto;
	padding: 0;
  background-clip: padding-box;
	border: 10px solid transparent;
  overflow: hidden;
  color: white;
}
.portfolio__project__preview {
	position: relative;
	top: 0;
	height: auto;
}

.portfolio__project__preview img {
	width: 100%;
}

.portfolio__project__description {
	position: absolute;
	top: 100%;
	width: 100%;
	padding: 10px;
	text-align: center;
	background: #1891c9;
}

.portfolio__project__name{
	font-size: 18px;
  margin: 0;
  font-weight: 4  00;
}

.portfolio__project__type{
	font-size: 16px;
  margin: 0;
  font-weight: 300;
  font-style: italic;
}

.portfolio__project__preview,
.portfolio__project__description {
	transition: all 600ms ease;
}

.portfolio__project:hover .portfolio__project__description {
	transform: translateY(-100%);
}
.portfolio__project:hover .portfolio__project__preview {
	transform: translateY(-2.5em);
}

/*modal css*/

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  /*z-index: 0;*/
  /* Sit on top */
  padding-top: 50px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  overflow: auto;
}

/* Modal Content */
.modal-content {
  max-height: 95%;
  overflow: auto;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


/* Add Animation */
@-webkit-keyframes animatetop {
  from {
      top: -300px;
      opacity: 0
  }

  to {
      top: 0;
      opacity: 1
  }
}

@keyframes animatetop {
  from {
      top: -300px;
      opacity: 0
  }

  to {
      top: 0;
      opacity: 1
  }
}

/* The Close Button */
.close {
  color: #1891c9;
  font-size: 38px;
  margin-left: auto;
}

.close:hover,
.close:focus {
  color: #002d5b;
  text-decoration: none;
  cursor: pointer;
  transition: .3s;
}

.modal-header {
  padding: 8px 2.5% 0px 0px;
  color: white;
  border-bottom: none;
}

.modal-body {
  padding: 2px 16px;
}

#bicycle{
  width: 100%;
}


/*footer*/

footer{
  background-color: black;
  padding: 50px 0px;
}

.footer{
  width: 90%;
  margin: 0 auto;
}

.bottom-nav{
  padding-bottom: 0px;
}

.bottom-nav a{
  text-decoration: none;
  padding: 10px 0px!important;
  margin: 0px;
  position: relative;
  color: white !important;
  text-decoration: none;
  font-size: 16px;
}

.bottom-nav a::before {
  transition: 300ms;
  height: 1px;
  content: "";
  position: absolute;
  background-color: #1891c9;
  width: 0%;
  top: 25px;
}

.bottom-nav a:hover {
color: #1891c9 !important
}

.bottom-nav a.active {
color: #1891c9 !important
}

.bottom-nav{
  display: flex;
  flex-direction: column;
}

.socials{
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px;
  width: 40%;
  margin: 0 auto;
}

.linkedin, .email{
  fill: white;
  width: 40px!important;
  height: 40px!important;
}


.linkedin:hover, .email:hover{
  fill: #1891c9;
  transition: .3s;
}

.copyright{
  margin: 0px;
  text-align: center;
  color: white;
}



/* media queries */

/* Web size */
@media (min-width: 1024px){
  .parallax1 {
    padding-top: 200px;
    padding-bottom: 200px;
  }


  .portfolio-width, .about-header, .about-flex, .container.main-section, .contact, .footer{
    width: 70%;
    margin: auto;
  }

  .modal-flexbox{
    align-items: center;
  }

  #modal-img, #modal-img2{
    max-width: 45%;
    display: block;
    margin: auto; 
    margin-bottom: 16px;
    box-shadow: 2px 4px 10px 0px #969696;
    }

  .modal-body{
    padding: 2px 4%;
  }

  .about-text{
    width: 100%;
    padding-left: 30px;
  }

  .about-flex{
    display: flex;
    align-items: center;
  }

  .about-text{
    margin: 0px;
  }

  .about-pic{
    width: 25%;
  }

  .modal-text{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 18px;

  }

  video{
    width: 28%;
  }
  
  #uconn-modal{
    width: 80%;
    margin: 0 auto;
    justify-content: center;
  }

  .footer{
    width: 40%;
    margin: auto;
  }

  .bottom-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .bottom-nav a{
    padding: 0px!important;
  }

  .bottom-nav a:hover::before {
    width: 100%;
  }

  .socials{
    width: 30%;
    margin: 0 auto;
  }

}


/* Tablet size */
@media (min-width: 768px) and (max-width: 1023px) {
  .portfolio-width, .about-header, .about-flex, .container.main-section, .contact{
    width: 75%;
    margin: auto;
  }

  .modal-body{
    padding: 2px 120px;
  }

  .about-flex{
    display: flex;
  }

  .about-pic{
    width: 35%;
  }

  .footer{
    width: 50%;
    margin: auto;
  }

  .bottom-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .bottom-nav a{
    padding: 0px!important;
  }

  .bottom-nav a:hover::before {
    width: 100%;
  }
    
 
}

@media (min-width: 480px){
  
}








/* fixing portfolio widths */
@media (min-width: 1400px){
  .container.main-section{
    max-width: none;
  }
}

@media (min-width: 1200px){
  .container.main-section{
    max-width: none;
  }
}

@media (min-width: 992px){
  .container.main-section{
    max-width: none;
  }
}

@media (min-width: 768px){
  .container.main-section{
    max-width: none;
  }
}

@media (min-width: 576px){
  .container.main-section{
    max-width: none;
  }
}